@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>ISKALNIK</h1>
    <h1>.</h1>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ObjaveIscemOa" asp-action="Index"><h3>Iščem asistenco</h3></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><h3>Nudim asistenco</h3></a>
        </li>
    </ul>
    <h1>.</h1>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><h3>Iščem nadomeščanje</h3></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><h3>Nudim nadomeščanje</h3></a>
        </li>
    </ul>
</div>
